
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Lista de Personajes Star Wars</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-hover table-bordered table-sm table-dark">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Altura</th>
                    <th scope="col">Peso</th>
                    <th scope="col">Color de Cabello</th>
                    <th scope="col">Color de piel</th>
                    <th scope="col">Color de ojos</th>
                    <th scope="col">Año de nacimiento</th>
                    <th scope="col">Genero</th>
                    <th scope="col">Mundo de origen</th>
                    <th scope="col">Filmes</th>
                </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let persona of personas; let posicion = index">
                    <th scope="row">{{posicion + 1}}</th>
                    <td>{{persona.name}}</td>
                    <td>{{persona.height}}</td>
                    <td>{{persona.mass}}</td>
                    <td>{{persona.hair_color}}</td>
                    <td>{{persona.skin_color}}</td>
                    <td>{{persona.eye_color}}</td>
                    <td>{{persona.birth_year}}</td>
                    <td>{{persona.gender}}</td>
                    <td><a href="{{persona.homeworld}}">Planeta</a></td>
                    <td>{{persona.films}}</td>
                   </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>